version: '3.5'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.1
    environment:
      discovery.type: single-node
      xpack.security.enabled: 'false'
      ES_JAVA_OPTS: -Xms512m -Xmx512m
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - foundatio
  
  kibana:
    depends_on:
      - elasticsearch
    image: docker.elastic.co/kibana/kibana:7.5.1
    ports:
      - 5601:5601
    networks:
      - foundatio
  
  ready:
    image: dadarek/wait-for-dependencies
    command: elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - foundatio

networks:
  foundatio:
    driver: bridge
    name: foundatio
