<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.9.1" targetFramework="net46" />
  <package id="Exceptionless.DateTimeExtensions" version="3.2.55" targetFramework="net46" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net46" />
  <package id="Foundatio" version="4.2.1183" targetFramework="net46" />
  <package id="Foundatio.Parsers.ElasticQueries" version="1.0.97" targetFramework="net46" />
  <package id="Foundatio.Parsers.LuceneQueries" version="1.0.97" targetFramework="net46" />
  <package id="NEST" version="1.9.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net46" />
  <package id="Pegasus" version="3.1.2" targetFramework="net46" />
</packages>